[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

*:focus {
    outline: 0 !important;
}

/* -----------------------------------------------------------------------------
    BODY
    * When a menu is active, we want to hide the overflows on the body to prevent
    * awkward document scrolling.
----------------------------------------------------------------------------- */
body.has-active-menu {
    overflow: hidden;
}

/* -----------------------------------------------------------------------------
   WRAPPER OBJECT
----------------------------------------------------------------------------- */
.lqd-menu-wrapper {
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.lqd-menu-wrapper.has-push-left {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
}

@media all and (min-width: 320px) {
    .lqd-menu-wrapper.has-push-left {
        -webkit-transform: translateX(300px);
        -ms-transform: translateX(300px);
        transform: translateX(300px);
    }
}

/* -----------------------------------------------------------------------------
   LIQUID MENU
----------------------------------------------------------------------------- */
.lqd-menu {
    position: fixed;
    z-index: 200;
    background-color: #428bca;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.lqd-menu-slide-left,
.lqd-menu-push-left {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

@media all and (min-width: 320px) {
    .lqd-menu-slide-left,
    .lqd-menu-push-left {
        width: 300px;
    }
}

.lqd-menu-slide-left,
.lqd-menu-push-left {
    top: 0;
    left: 0;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
}

@media all and (min-width: 320px) {
    .lqd-menu-slide-left,
    .lqd-menu-push-left {
        -webkit-transform: translateX(-300px);
        -ms-transform: translateX(-300px);
        transform: translateX(-300px);
    }
}

.lqd-menu-slide-left.is-active,
.lqd-menu-push-left.is-active {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

/* -----------------------------------------------------------------------------
   BUTTON CLOSE
----------------------------------------------------------------------------- */
#lqd-menu-btn-close {
    box-shadow: none;
}

.btn-link {
    color: white;
}

.lqd-btn-close {
    float: right;
    margin-right: 6px;
    margin-top: 6px;
}

/* -----------------------------------------------------------------------------
   ITEM-GROUP
----------------------------------------------------------------------------- */
.lqd-item-group {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* -----------------------------------------------------------------------------
   ITEM CONTAINER
----------------------------------------------------------------------------- */
.lqd-menu-slide-left .lqd-item-container,
.lqd-menu-push-left .lqd-item-container {
    display: block;
    text-align: left;
    border-bottom: 1px solid #0A3D68;
    -webkit-box-shadow: inset 0 1px 0 #60A7E4, 0 1px 0 #60A7E4;
    -moz-box-shadow: inset 0 1px 0 #60A7E4, 0 1px 0 #60A7E4;
    box-shadow: inset 0 1px 0 #60A7E4, 0 1px 0 #60A7E4;
}

.lqd-menu-slide-left ul.lqd-item-group:nth-child(1) li.lqd-item-container:nth-child(1),
.lqd-menu-push-left ul.lqd-item-group:nth-child(1) li.lqd-item-container:nth-child(1) {
    border-top: 1px solid #0A3D68;
}

/* -----------------------------------------------------------------------------
   ITEM
----------------------------------------------------------------------------- */
.lqd-item {
    overflow: auto;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}

.lqd-item-title {
    font-size: 1.5rem;
    margin: 5px;
    padding-left: 15px;
    padding-right: 15px;
    width: 70%;
    color: white;
    float: left;
    display: inline-block
}

.lqd-item-arrow {
    margin-right: 10px;
    margin-left: 10px;
    padding-right: 5px;
    padding-left: 5px;
    float: right;
    display: inline-block
}

.lqd-item-arrow > label {
    vertical-align: middle;
    padding-top: 0.3rem;
    color: white;
    margin: 0px;
}

input[type=checkbox].lqd-menu-checkbox {
    display: none;
}

input[type=checkbox].lqd-menu-checkbox + label {
    cursor: pointer;
    -webkit-transition-duration: 0.7s;
    -moz-transition-duration: 0.7s;
    -o-transition-duration: 0.7s;
    transition-duration: 0.7s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
}

input[type=checkbox].lqd-menu-checkbox:checked + label {
    animation-duration: 5s;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

input[type=checkbox].lqd-menu-checkbox ~ ul {
    max-height: 0;
    overflow: auto;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

/* -----------------------------------------------------------------------------
   SUB-MENU
----------------------------------------------------------------------------- */

/* -----------------------------------------------------------------------------
   LIST GROUP
----------------------------------------------------------------------------- */
.lqd-sub-menu.list-group {
    margin: 0px;
}

.list-group {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.list-group.is-active {
    max-height: 200px;
}

/* -----------------------------------------------------------------------------
   LIST GROUP ITEM
----------------------------------------------------------------------------- */
.lqd-item-container .list-group .list-group-item {
    background-color: #428bca;
    border: none;
    color: white;
    padding-left: 15%;
}

.lqd-item-container .list-group .list-group-item:focus,
.lqd-item-container .list-group .list-group-item:active,
.lqd-item-container .list-group .list-group-item:hover {
    background-color: #407DB2;
}

/* -----------------------------------------------------------------------------
  MASK COMPONENT
----------------------------------------------------------------------------- */
.lqd-menu-mask-panel {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 0;
    height: 0;
    background-color: #000;
    opacity: 0;
    -webkit-transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
    transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
}

.lqd-menu-mask-panel.is-active {
    width: 100%;
    height: 100%;
    opacity: 0.7;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}
